body {
    font-family: Arial, sans-serif;
    background-color:rgb(212, 209, 157);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: rgb(63, 128, 182);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0);
    width: 300px;
}

h2 {
    text-align: center;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

form button {
    font-weight: bolder;
    width: 100%;
    padding: 10px;
    background-color: #217421;
    border: none;
    color: rgb(250, 240, 240);
    border-radius: 3px;
    cursor: pointer;
}

form button:hover {
    background-color: #4cae4c;
}
